<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Basics</a></li>


  <li role="presentation"><a href="#">Appearance</a></li>
  <li role="presentation"><a href="#">Occupation</a></li>
</ul>